.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.main-wrapper{
    /* height:837px; */
    min-width: 960px;
}

.header{
    /* height:125px; */
}

.header-top{
    /* height:85px; */
    background-color: #7dd9e8;
}

.header-top .wrapper{
    width: 58.75em;
    /* height:50px; */
    padding-top:20px;
    padding-bottom:15px;
    margin: 0 auto;
}

.top-left{
    float:left;
    width: 62.1277%; 
    /* 584px */
    line-height: 50px;
    /* height: 50px; */
}

.logo{
    /* height:50px; */
    width: 38.3562%;
    /* width: 224px; */
    float: left;    
}

.search-bar{
    /* width:336px; */
    width:57.5342%;
    /* height:50px; */
    float:right;
}

.search-input{
    /* width: 276px; */
    width:82.14285%;
    /* height:20px; */
    background-image: url('../images/search-bar.png');
    margin-top: 20px;
    margin-bottom:10px;
    float: left;
}

.search-button{
    background-image: url('../images/search-button.png') ;
    /* width:40px; */
    width:11.9047%;
    /* height:20px; */
    padding-left: 6px;
    padding-right: 7px;
    margin-top: 20px;
    margin-bottom:10px;
    float:right;
}

.top-right{
    float:right;
    width:35.3191%;
    /* width: 332px; */
    /* height: 50px; */
    
}

.top-right .name{
    float:right;
    width: 100%;
    /* width: 332px; */
    /* height: 25px; */
    line-height: 25px;

}

.top-right .menu{
    float:right;
    width: 100%;
    /* width: 332px; */
    /* height: 25px; */
}

.header-bottom{
    height:40px;
    background-color:#f5f5f5;
}

.header-bottom .wrapper{
    width: 58.75em;
    /* height:40px; */
    margin: 0 auto;
}

.bottom-left{
    float: left;
    width: auto;
    /* width: 625px; */
    height: 40px;
    max-width: 66.4893%;
    /* max-width: 625px; */
}

.bottom-right{
    float: right;
    width:35.7447%;
    /* width: 336px; */
    /* height: 40px; */
}

.main-body{
    /* height:667px; */
}

.main-body .wrapper{
    width: 58.75em;
    margin:0 auto;
    /* height: 605px; */
    padding-top: 31px;
    padding-bottom: 31px;
}

.col3-left{
    float: left;
    width:78.6170%;
    /* width:739px; */
    /* height: 605px; */
}

.left-left{
    float: left;
    width:26.2516%;
    /* width:194px; */
    /* height: 605px; */
    /* background-color:yellow; */
}

.ll-top{
    width: 100%;
    /* width: 194px; */
    /* height: 117px; */

}

.llt-text{
    width: 100%;
    /* width: 194px; */
    /* height: 43px; */
    background-color:#2fc1da;
    line-height: 43px;
}

.llt-box{
    width: 100%;
    /* width: 194px; */
    /* height:74px; */
    background-color:#f5f5f5;
}

.ll-bottom{
    width: 100%;
    /* width: 194px; */
    /* height:488px; */
}

.llb-text{
    width: 100%;
    /* width: 194px; */
    /* height: 43px; */
    background-color:#2fc1da;;
    line-height: 43px;
}

.llb-box{
    width: 100%;
    /* width: 194px; */
    min-height:445px;
    background-color:#f5f5f5;
}

.left-right{
    float: right;
    width:70.1%;
    /* width: 518px; */
    /* height: 605px; */
}

.middle-header{
    width: 100%;
    /* width:518px; */
    /* height:25px; */
    padding-bottom: 9px;
}

.middle-wrapper{
    width: 100%;
    /* width:518px; */
    /* height:571px; */
    background-image: url("../images/logos/bg-image.png");
}

.subheader{
    /* height:37px; */
    line-height: 37px;
    /* width:518px; */
    width: 100%;
}

.ml-wrapper{
    /* height:534px; */
    /* width:518px; */
    width: 100%;
    /* background-color: yellow; */
}

.tab-wrapper{
    padding-top: 6px;
    /* height: 24px; */
    width: 100%;
    /* width: 518px; */
    border-bottom: 2px solid #2fc1da;
    /* background-color:red; */
}

/* .tab-left{
    float: left;
    width: 50%;
    
}

.tab-right{
    float: right;
    width: 50%;
} */




.middle-content-wrapper{
    /* height:502px; */
    width: 100%;
    /* background-color:green; */
}

.content1{
    /* height:70px; */
    padding-top:14px;
    padding-bottom: 14px;
    /* width: 518px; */
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e6dddd;
}

.middle-content-wrapper .image-wrapper{
    /* height:70px; */
    width: 13.5135%;
    /* width:70px; */
    float:left;
    /* background-color:white; */
}

.middle-content-wrapper .text-wrapper{
    padding-left: 1.9305%;
    padding-right: 1.9305%;
    /* padding-left:10px;
    padding-right:10px; */
    width: 82.6255%;
    /* width:428px; */
    /* height:70px; */
    float:right;
    /* background-color:green; */
}

.middle-content-wrapper .text1{
    width: 100%;
    /* width:428px; */
    /* height:17px; */
    
}

.middle-content-wrapper .text2{
    width: 100%;
    /* width:428px; */
    /* height:18px; */
    font-weight: bold;
}

.middle-content-wrapper .text3{
    width: 100%;
    /* width:428px; */
    /* height:17px; */
    line-height: 17px;
    /* background-color: rgb(255, 72, 0); */
}

.middle-content-wrapper .text4{
    /* width:428px; */
    width: 100%;
    /* height:18px; */
}
.content2{
    /* height:70px; */
    padding-top:14px;
    padding-bottom: 14px;
    /* width: 518px; */
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e6dddd;
}

.content3{
    /* height:70px; */
    padding-top:14px;
    padding-bottom: 14px;
    /* width: 518px; */
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e6dddd;
}

.content4{
    /* height:70px; */
    padding-top:14px;
    padding-bottom: 14px;
    /* width: 518px; */
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e6dddd;
}
.content5{
    /* height:70px; */
    padding-top:14px;
    padding-bottom: 14px;
    /* width: 518px; */
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #e6dddd;
}

.col3-right{
    float:right;
    width: 18.7234%;
    /* width: 176px; */
    /* height: 605px; */
}

.r-text{
    width: 100%;
    /* width: 176px; */
    /* height: 43px; */
    background-color:#2fc1da;
    line-height: 43px;
}

.r-box{
    /* width: 176px; */
    width: 100%;
    min-height:562px;
    background-color:#f5f5f5;
}

.footer{
    /* height:45px; */
    background-color:#727272;
}

.footer .wrapper{
    width: 58.75em;
    /* height:45px; */
    margin: 0 auto;
}

.footer-menu{
    width: auto;
    /* height: 45px; */
    max-width: 91.2765%;
    /* max-width: 858px; */
    float: left;
}

.copyright{
    width:9.4680%;
    /* width: 89px; */
    /* height:45px; */
    line-height:45px;
    float: right;
}
/* 
.hamburger{
    display: none;
} */

.middle-header .burger-button{
    display: none;
}

@media(max-width:375px){


    .subheader{
        line-height: 0px;
        width: 0px;
    }
    .main-body .wrapper{
        width: 100%;
    }
    .copyright{
        display: none;
    }

    .middle-content-wrapper .text-wrapper{
        padding-left:0px;
        padding-right:0px; 
        width: 75%;
        float: right;
    }

    .footer .wrapper{
        width: 100%;
        /* display: none; */
    }

    .main-wrapper{
        min-width: 0px;
    }
    .header-top .wrapper{
        width: 100%;
    }

    .top-left{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .top-right{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .logo{
        width:40%;
    }

    .logo img{
        width: 100%;
    }
    /* .top-left{
        float: none;
        width: auto;
    }
    
    
    .top-left{
        width: 50%;
        
    } */

    .middle-header .entry-text{
        margin-left: 4%;
    }

    .middle-header .burger-button{
        display: block;
        float: right;
        width: 8%;
        margin-right: 4%;
    }

    .search-bar{
        width: 50%

        /*  float:none; */
        /* width: 10%; */
        /* display: none; */
        /* width: 30%; */
    }

    .search-input{
        margin-top:10px;
        margin-bottom:0px;
        /* margin-right: 10%; */
        background-image: none;
        padding-top:0px;
        width: 100%;
        float: right;
    }

    .search-button{
        display: none;
    }

/* 
    .top-right{
        width: autxo;
    } */

    .left-left{
        /* width: 90%;
        float: right; */
        display: none;
    }

    .col3-left{
        width: 100%;
    }

    
/* 
    .col3-left{
        float: none;
        width: 100%;
    } */

    .header-bottom{
        display: none;
    }

 

    
    

    .left-right{
        float: left;
        width: 100%;
        /* padding-top: 10%; */
        /* width: 100%;
        margin-left: 15%; */
        
    }

    

    
    .left-right .subheader{
        display: none;
    }


    /* .left-right .middle-content-wrapper{
        width: 70%;
    } */

    .left-left .ll-bottom{
        display: none;
    }

    .left-left .llt-box{
        display: none;
    }

    /* .tab-wrapper{
        width: 60%;
    } */

    .middle-wrapper{
        background-image:none;
    }
    
    /* .tab-left{
        float: left;
        
        width: 50%;
    }

    .tab-right{
        width: 40%;
    } */

    .col3-right{
        display: none;
        /* width: 25%; */
    }
    
    
    

    /* .col3-right{
        margin-top: 10px;
        width: 100%;
    }
    

    .col3-right .r-text{
        width:50%;
        margin: 0 auto;
    }
    .col3-right .r-box{
        width:50%;
        margin: 0 auto;
    } */

}