.main-wrapper {
    font-family: Arial;
}

.search-input input[type=text]{
    border-style:none;
    line-height: 20px;
    background-color: #caeff7;

    margin-left: 7.5px;
    margin-right: 7.5px;
    font-size: 11px;
    color:#97abaa;
    width: 94.5652%;
    /* width: 261px; */
}

.search-button input[type=button]{
    font-size: 16px;
    border-style: none;
    background-color:#254d55;
    color:#d6dee1;
    /*  height: 20px; */
    line-height: 20px;
    width: 100%;
    /* width: 40px; */
    font-size: 10px;
    cursor:pointer;
}

.top-right .name span{
    font-size:12px;
    float: right;
}

.top-right .menu ul{
    /* margin-right: px; */
    float: right;
    list-style:none;

}
.top-right .menu ul li{
    float:left;
    padding-left:5px;
    padding-right: 5px;
    border-right: 1px solid black;
}

.top-right a{
    text-decoration:none;
    color: black;
}

.top-right .menu ul li:last-child{
    border:none;
    padding-right: 0px;
}

.top-right .menu{
    font-size:12px;
}

.bottom-left .menu{
    font-size: 12px;
}

.bottom-left .menu ul{
    margin-left: -15px;
    float: left;
    list-style: none;
}

.bottom-left .menu ul li{
    float:left;
    line-height: 40px;
}

.bottom-left a{
    display: block;
    text-decoration:none;
    padding-left:15px;
    padding-right: 15px;
    color: black;
}

.bottom-left a:hover{
    background-color:#2fc1da;
    color: #ffffff;
}

.bottom-right{
    font-size: 12px;
    margin-right: -16px;
}

.bottom-right ul{
    float: left;
    list-style: none;
}

.bottom-right ul li{
    float:left;
    line-height: 40px;
}

.active{
    color:black;
}

.bottom-right li{
   
    padding-left:15px;
    padding-right: 15px;
    color: grey;
}

.bottom-right a{
    text-decoration:none;
}


.bottom-right ul li img{
    position: relative;
    top:5px;
}


.llt-text span{
    font-size: 14px;
    color: white;
    margin-left:12px;
}

.llt-box {
    font-size:12px;
}

.llt-box ul li{
    line-height: 36px;
}

.llt-box ul{
    /* float: left; */
    list-style: none;
}

.llt-box a{
    width:93.8144%;
    /* width: 182px; */
    padding-left: 6.1856%;
    /* padding-left: 12px; */
    text-decoration:none;
    color: black;
    background:url('../images/logos/download.png') no-repeat;
    background-position: 172px;
    display: block;
}

.llt-box a:hover{
    background-color:#ffffff;
}


.llb-text span{
    font-size:14px;
    color: white;
    margin-left:12px;
}

.llb-box {
    font-size:12px;
}

.llb-box ul li{
    line-height: 36px;
}

.llb-box ul{
    /* float: left; */
    list-style: none; 
}

.llb-box a{
    width:93.8144%;
    /* width: 182px; */
    padding-left: 6.1856%;
    text-decoration:none;
    color: black;
    background:url('../images/logos/list.png') no-repeat; 
    background-position: 172px;
    display: block;
}

.llb-box a:hover{
    background-color:#ffffff;
}

.middle-header span{
    color:black;
    font-size:22px;
}

.subheader span{
    font-size:14px;
    padding-left: 19.3050%;
    padding-right: 9.6525%;
    /* padding-left:100px; */
    /* padding-right:50px; */
}

.tab-wrapper{
    font-size: 12px;
}

.tab-wrapper ul{
    /* margin-left: -15px; */
    
    float: left;
    list-style: none;
}

.tab-wrapper ul li{
    float:left;
    line-height: 24px;
    padding-left:8px;
    padding-right: 7px;
    /* background-image:url("../images/logos/tabcover.png"); */
}

.tab-wrapper ul li a:hover{
    background-color: #2fc1da;
    color: white;

}

.more-gap{
    margin-left:2px;
}

/* .tab-wrapper .tab-left ul li{
    padding-left:8px;
    padding-right: 7px;
}

.tab-wrapper .tab-right ul li{
    padding-left:10px;
    padding-right: 5px;
} */



.tab-wrapper .normal-a{
    text-decoration:none;
    text-align: center;
    width: 114px;
    background-color: rgb(223, 215, 215);
    display: block;
    background-image: url('../images/logos/tabcover.png');
    /* background-color: #ffffff; */
    color: black;
}
/* 
.tab-wrapper img{
    position: absolute;

} */



.tab-wrapper .clicked{
    background-color: #2fc1da;
    color: white;
}

.all-member-title{
    font-size: 14px;
    
}

.all-member-title a{
    color: black;
    text-decoration:none;
}

.new-alert {
    font-size:14px;
    color: #2fc1da;
}



.red-alert{
    color:red;
}

.text3{
    font-size:12px;
    margin-left:-5px;
    color:grey;
}

.text3 span{
    border-right: 1px solid grey;
    padding-left:5px;
    padding-right:5px;
}

.text3 span:last-child{
    border:none;
}

.text3 a{
    text-decoration:none;
    color:#2fc1da;
}

.subscribed{
    color:#3ed11a;
    font-weight: bold;
}

.topic-box{
    color: grey;
    font-size:12px;
    line-height: 17px;
}

.topic-box a{
    text-decoration:none;
    color:#2fc1da;

}



.r-text span{
    margin-left:6.8182%;
    /* margin-left:12px; */
    font-size:14px;
    color: white;
}



.r-box {
    font-size:12px;
}

.r-box ul li{
    line-height: 36px;
}

.r-box ul{
    /* float: left; */
    list-style: none;
}

.r-box a{
    width: 93.1818%;
    display:block;
    /* padding-left:4%; */
    /* width: 164px; */
    padding-left: 6.8182%;
    /* padding-left: 7%; */
    /* width: 100%; */
    text-decoration:none;
    color: black;
    /* padding-left:12px; */
}

.r-box a:hover{
    background-color:#ffffff;
    display: block;
}

.footer-menu{
    font-size: 11px;
}

.bottom-right ul{
    float: left;
    list-style: none;
}

.footer-menu a{
    text-decoration:none;
    padding-left:7px;
    padding-right: 8px;
    color: white;
}

.footer-menu ul li{
    background-image: url('../images/logos/dot.png');
    background-repeat: no-repeat;
    background-position:right;
    float:left;
    line-height: 45px;
}

.footer-menu ul li:last-child{
    background-image: none;
}



.footer-menu ul{
    float: left;
    list-style: none;
}

.copyright{
    font-size: 12px;
    color: white;
}

.top-right button{
    display: none;
}

@media(max-width:375px){
    .search-input input[type=text]{
        width: 100%;
    }

    .middle-content-wrapper .text1{
        font-size: 20px;
    }

    /* .tab-wrapper .tab-right ul{
        margin-left:-50px;
    }

    .tab-wrapper .tab-right .normal-a{
        font-size:10px;
        background-image: none;
        width: 80px;
    }*/

    .tab-wrapper .normal-a{
        font-size:10px;
        background-image: none;
        width: 60px;
    } 

    



    .tab-wrapper ul li{
        width: 65px;
        padding-left:5px;
        padding-right: 5px;
    }
    .tab-wrapper ul li:last-child{
        width: 80px;
    }

    .tab-wrapper ul li a:last-child{
        width: 100%;
    }
    
    /* .tab-wrapper .tab-right ul li{
        padding-left:0px;
        padding-right: 0px;
    } */

    
    

    

    .top-right button{
        width: 15px;
        height: 15px;
        background-image: url("../images/logos/list.png");
        background-color: white;
        background-position: 0px 0px;
    }

    .left-right .tab-wrapper ul li{
        background-image:none;
        
        /* padding-left: 5px; */
        /* padding-right: 10px; */
    }

    .footer-menu{
        font-size: 8px;
    }
}
